$topAppBarHeight: 64px;

.DashboardView {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - $topAppBarHeight);
  position: relative;
  width: 100vw;

  .Grid {
    width: 100%;
  }

  .AddRecipeContainer {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    .AddRecipeTitle {
      font-size: 1.25em;
      margin-bottom: 4px;
    }
  }

  .RecipeLibraryContainer {
    .RecipeLibraryTitle {
      font-size: 1.25em;
      font-weight: 500;
      margin-top: 12px;
    }
  }

  .ShoppingListContainer {
    border-radius: 8px;
    padding: 16px;

    .ShoppingListTitle {
      font-size: 1.25em;
      font-weight: 500;
      margin-bottom: 12px;
      padding-left: 16px;
    }
  }
}