$topAppBarHeight: 64px;

.DashboardView {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: calc(100vh - $topAppBarHeight);
  position: relative;
  width: 100vw;

  .Grid {
    width: 100%;
  }

  .AddRecipeContainer {
    border-radius: 8px;
    padding: 8px 16px 4px 16px;
  }

  .RecipeLibraryContainer {
    .RecipeLibraryTitle {
      font-size: 1.25em;
      font-weight: 500;
      margin-top: 12px;
    }
  }
}