.PrimaryLayout {
  .Title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

    .LogoContainer {
      background-color: white;
      padding: 12px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .Logo {
        max-width: 100px;
      }
    }
  }

  .SearchRow {  
    .SearchSection {
      align-items: center;
      display: flex;
      justify-content: center;

      .SearchInput {
        background-color: white;
        border-radius: 4px;
        height: 48px;
        max-width: 800px;
        width: 100%;
      }
    }
  }
}